Import the tidyverse.

In [16]:
library('tidyverse')
options(repr.plot.width=4, repr.plot.height=3, repr.plot.res = 300)

# Bars

Let's use the "diamonds" data set. Preview the first five rows of the diamonds dataset using the `head` function.  
(*Hint: try* `?head` *to get the help page for the* `head` *function*)

In [19]:
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

Make a bar chart of the "cut" column. About how many rows are there for the cut category "Ideal"?

In [ ]:
p = ggplot diamonds x = cut

Use `coord_flip` to rotate the chart by 90 degrees.

# Lines

We'll use flight data from the Bureau of Transportation Statistics
https://www.transtats.bts.gov/DatabaseInfo.asp?DB_ID=120&Link=0

In [ ]:
# uncomment the following:

# library(nycflights13)
# flight.data = flights %>%
#     group_by(month, carrier, year) %>%
#     summarize(N_flights = n()) %>%
#     filter(carrier %in% c('UA', 'AA', 'US'))

What are the columns in `flight.data`? (*Hint: preview the table*)

First, make a bar chart of the `carrier` column? Does this make sense?

Plot month versus number of flights grouped according to carrier.

# Smooth

Plot a scatter plot (`geom_point`) of carat versus price with the diamonds dataset.

There is a lot of overplotting in this figure. Make the same plot but use the `alpha` value to reduce
the opacity of the points.  
(*Hint: alpha values can be set from 0 (transparent) to 1 (opaque)*)

Facetting can also help with overplotting. Facet the chart by `cut`.

In [ ]:
# options(repr.plot.width=7, repr.plot.height=6)

Add a `geom_smooth` to your facetted plot to emphasize the trend in the data.